.Auth_input {
    margin: 0.5rem;
    border-radius: 0.4rem;
    border: 0;
}
.Auth_input input {
    box-sizing: border-box !important;
    padding: 22px;
    width: 11.4rem;
    border-radius: 0.4rem;
    box-shadow: var(--grayRedBlue_shadow);
    background-color: white;
}
.Auth_input input:before {
    height: 0 !important;
}

.Auth_button {
    margin: 0.3rem !important;
}

.Auth_header {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
    color: var(--grayRedBlue_header);
}

.Auth_prompt-fail {
    margin: 1rem;
    color: var(--grayRedBlue_secondary);
    font-weight: bold;
    width: 18rem;
    text-justify: auto;
}

.Auth_oauth_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 11.9rem;
}

.Auth_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
