.Auth_input {
    margin: 0.5rem;
    border-radius: 0.4rem;
    border: 0;
}
.Auth_input input {
    box-sizing: border-box !important;
    padding: 22px;
    width: 11.4rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 8px #000000dd;
    background-color: white;
}
.Auth_input input:before {
    height: 0 !important;
}

.Auth_button {
    margin: 0.3rem !important;
}

.Auth_header {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
    color: #324151;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
        0px 0px 8px #000000dd; */
}

.Auth_prompt-fail {
    margin: 1rem;
    color: red;
    font-weight: bold;
    width: 18rem;
    text-justify: auto;
}

.Auth_oauth_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 11.9rem;
}
