.Auth_input {
    margin: .5rem;
    border-radius: 0.4rem;
    border: 0;
}

.Auth_button {
    margin: 0 .3rem !important;
}

.Auth_header {
    font-family: roboto;
    font-size: 2rem;
    margin: 1rem;
}

.Auth_prompt-fail {
    margin: 1rem;
    color: red;
    font-weight: bold;
    width: 18rem;
    text-justify: auto;
}