:root {
    SPACEBLUE:          rgb(0, 0, 35);
    GREENAPPLE:         rgb(89, 219, 38);
    SKYBLUE:            rgb(135, 206, 235);
    ORANGERED:          rgb(255, 69, 0);
    WHITESMOKE:         rgb(245, 245, 245);
    LIGHTSLATEGRAY:     rgb(119, 136, 153);
}


