.ControlPanel_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    width: 10rem;
    border: 1px solid rgb(119, 136, 153);
    border-radius: .4rem;
    height: 70vh;
    min-height: 10rem;
    background-color: #6d8dad;
}