.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(245, 245, 245);
  height: 150px;
  padding: 20px;
  color: rgb(0, 0, 35);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

li {
  width: 200px;
  text-align: left;
}
