.title10 {
    display: flex;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Roboto', serif;
}
.radioGroup {
    padding: 1rem;
    border: 1px solid black;
}
.legend {
    margin-bottom: 10px;
}
.checkoutBoxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 2.5rem;
    margin: 1rem 0 0 0;
    background-color: rgb(198, 235, 253) !important;
    border-radius: .5rem;
}
.submitButton {
    font-size: 2rem;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 1rem 0 !important;
    width: 10rem;
}
.checkoutCard {
    /* height: 6rem; */
    padding: 1rem;
    border: 1px solid black;
}
.premTeam {
    font-weight: bold;
    text-align: center;
}

.fieldset {
    margin: 1rem !important;
    width: 25rem;
}
