.Premium_Content {
    font-size: 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title10 {
    display: flex;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Roboto', serif;
}
.example {
    width: 100%;
}
.Stripe_Modal {
    background-color: white;
}
.ModalButtonStripe {
    margin-left: 42%;
}
.checkout {
    background-color: white;
}
.premTeam {
    font-weight: bold;
    text-align: center;
}
